body    {
    background-color:rgb(223, 201, 4) ;
    margin: 0;
    padding: 0;
}
header  {
    display: flex;
    width: 100%;
    background-color: rgb(192, 1, 1);
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul    {
    display: flex;

}

footer  {
    display: flex;
    background-color: red;

}

.tituloR    {
    display: flex;
    font-size: 50px;
    color: hsl(253, 100%, 19%);
    font-family: 'Amatic SC', cursive;
}

.subtitulosR     {
    font-size: 25px;
    color: hsl(0, 86%, 45%);
    text-decoration: underline;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.subtitulosA    {
    font-size: 25px;
    color: rgb(194, 7, 7);
    text-decoration: underline;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.parrafos   {
    color: hsl(253, 100%, 19%) ;
    font-size: 17px;
    text-align: center;
}

.listas   {
    color: hsl(253, 100%, 19%);
}

.imagen     {
    width: 60%;
}

.footer   {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer a{
    color: hsl(253, 100%, 19%);
    margin: 30px;
    font-size: 30px;
    flex-wrap: nowrap;
}

aside{
    display: flex;
    justify-content: flex-end;
}

.buttonWhp  {
    font-size: 60px;
    position: fixed;
    color: green;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    display: flex;
    justify-content: flex-start;
    width: 15%;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    margin: 5%;
}

.links{
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 30px;
}

header a{
    padding: 5px;
    margin: 5px;
    color: hsl(253, 100%, 19%);
}

footer iframe{
    margin-top: 10px;
    margin-bottom: 10px;
}

.navPosition{
    display: flex;
    background-color: rgb(201, 23, 23);
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Amatic SC', cursive;

}
.navPosition a{
    color: hsl(253, 100%, 19%);
    text-decoration: none;
    font-size: 25px;
    padding: 5%;
}

.iconsMain a{
    padding: 10%;
}

.iconsMain {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 30px;

}
.iconsMain a:hover{
    color: red ;
    transition: 500ms;
    font-size: 60px;
}
.navPosition a:hover{
    background-color: yellow;
    color:red;
    transition: 500ms;
}
.iconsFooter a:hover{
    color:yellow;
    transition: 500ms;
}

.links a:hover{
    color: yellow;
    transition: 500ms;
}

.mapVideo{
    width: 60vw;
}

.celular{
    width: 60vw;
}

@media (max-width: 700px){
    .buttonWhp{
        display: none;
    }
    .map{
        display:none;
    }
}

@media (min-width: 700px){
    .celular{
        display: none;
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 18rem;
}
