body    {
    background-color:rgb(223, 201, 4) ;
    margin: 0;
}
header  {
    display: flex;
    background-color: rgb(192, 1, 1);
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul    {
    display: flex;

}

footer  {
    display: flex;
    background-color: red;
}



.tituloR    {
    display: flex;
    font-size: 50px;
    color: hsl(253, 100%, 19%);
    text-decoration:underline;
}

.subtitulosR     {
    font-size: 25px;
    color: hsl(0, 86%, 45%);
    text-decoration: underline;
    text-align: center;
}

.subtitulosA    {
    font-size: 25px;
    color: rgb(194, 7, 7);
    text-decoration: underline;
    text-align: center;
}

.parrafos   {
    color: hsl(253, 100%, 19%) ;
    font-size: 17px;
    text-align: center;
}

.listas   {
    color: hsl(253, 100%, 19%);
}

.imagen     {

    height: 279px;
}

.footer   {
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

footer a    {
    color: hsl(253, 100%, 19%);
    margin: 30px;
    font-size: 30px;
    flex-wrap: nowrap;
}

.buttonWhp  {
    font-size: 60px;
    position: fixed;
    color: green;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    display: flex;
    justify-content: flex-start;
    height: 100px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    margin-left: 30px ;
    margin-right: 60px;
}

.links{
    display: flex;
    align-items: center;
    margin-right: 30px;
}


header a{
    padding: 5px;
    margin: 5px;
    color: hsl(253, 100%, 19%);
}

footer iframe{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer div {
    border: 

}